.list-item-positive{
    background-color: #AFE1AF;
}

.list-item-negative{
    background-color: #E97451;
}

@media screen and (max-width: 500px){
    .list-component{
        /* background-color: dimgray; */
        /* grid-area: listComponent; */
        padding-left: 10px;
        background-color: #eeeeee;

    }

    .list-parent{
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        height: 200px;
    }
}

@media screen and (min-width: 501px){

    .list-component{
        /* background-color: dimgray; */
        /* grid-area: listComponent; */
        padding-left: 5px;
        overflow-y: scroll;
        background-color: #eeeeee;
        
    }

}




.list-item{
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    width: 95%;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
    background-color: white;
}

.list-item-text{
    display: flex;
}   

.list-item-description{
    width: 83%;
}

.list-item-amount{
    width: 15%;
    text-align: right;
    padding-right: 5px;
}

.list-item-end-strip{
    width: 2%;
    padding: 5px;
    display: inline;

}